@import "../../../styles.scss";

:host {
  display: block;
}

.answered-topic {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 2rem 1rem 1rem;
  padding: 1rem;
  border: 1px solid $border-bottom;
  border-radius: 4px;
  box-sizing: border-box;
}

.answered-topic h5 {
  color: $text-secondary;
  font-size: 12px;
  font-weight: 500;
}

.ops-topic-subject {
  color: $color-primary;
  font-size: 16px;
  font-weight: 700;
}

.topic-footer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.topic-footer img:nth-child(1) {
  height: 19px;
}
