@import "../styles/colors.scss";

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// HEADER

.content {
  display: flex;
  padding-left: 220px;
  flex-direction: column;
}

.content-header {
  display: flex;
  padding: 5px 45px;
  background-color: $color-secondary;
  justify-content: space-between;
  align-items: center;
}

.content-header h2 {
  font-size: 22px;
}

.content-header p {
  font-size: 14px;
}

.header-placeholders {
  display: flex;
  gap: 2rem;
}
