<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="toolbar-text_div"><h1>SLACA 2019</h1></div>
  <img src="./assets/logo.png" />
  <ul>
    <li>Apresentação</li>
    <li>Comitês</li>
    <li>Autores</li>
    <li>Eixos temáticos</li>
    <li>Trabalhos</li>
    <li>Contato</li>
  </ul>
</div>

<div class="content" role="main">
  <section class="content-header">
    <div>
      <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
      <h2>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h2>
      <p>ISSN: 1234-5678</p>
    </div>

    <div class="header-placeholders">
      <img src="../assets/btn-idiomas.png" /> <img src="../assets/login.png" />
    </div>
  </section>

  <article class="content-article">
    <div class="article_top-container">
      <div class="article_video-container">
        <h2>
          Análise sensorial de preparações funcionais desenvolvidas para
          escolares entre 09 e 15 anos, do município de Campinas/SP'
        </h2>
        <img src="../assets/video-placeholder.png" alt="" />
      </div>

      <div class="article_right-container">
        <div class="article_right-btn-container">
          <button class="btn-download"></button>
          <button class="btn-star"></button>
          <button class="btn-doi"></button>
        </div>
        <p>COMO CITAR ESSE TRABALHO?</p>
        <img
          src="../assets/details-placeholder.png"
          alt="placeholder de detalhes"
        />
      </div>
    </div>
  </article>

  <!-- Resources
  <h2>Informações importantes</h2>
  <p>
    Os seguintes elementos devem existir no seu aplicativo renderizado (use o
    inspect):
  </p>
  <div id="required-elements">
    <h3>O título do trabalho deve ser um h2:</h3>
    <h2>
      Análise sensorial de preparações funcionais desenvolvidas para escolares
      entre 09 e 15 anos, do município de Campinas/SP'
    </h2>

    <h3>O elemento de expandir resumo precisa ter a classe .btn-show-more</h3>
    <a href="#" class="btn-show-more">ver mais</a>

    <h3>O elemento de criar tópico precisa ter a classe .btn-create-topic</h3>
    <a href="#" class="btn-create-topic">criar tópico</a>

    <h3>
      O card que contém um tópico respondido precisa ter a classe
      .answered-topic, o assunto do tópico deve ter a classe .ops-topic-subject
    </h3>
    <div class="answered-topic">
      <h4 class="ops-topic-subject">Título do tópico</h4>
    </div>
    <div class="comments-container">
      Os comentários de um tópico devem estar encapsulados num elemento com a
      classe .comments-container
    </div>

    <form>
      Assunto:
      <input
        class="subject"
        placeholder="Defina um tópico sucinto para notificar os autores..."
      />
      Conteúdo:
      <input>
      <button>Enviar</button>
    </form>

    <h3>
      Após submeter o formulário, a seguinte mensagem deve ser exibida:
      Aguardando feedback dos autores
    </h3>
  </div> -->
</div>
