@import "../styles/colors.scss";

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// NAVBAR ESQUERDA

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 0px 10px -6px rgba(0, 0, 0, 0.2);
}

.toolbar-text_div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, $color-tertiary 0%, $color-primary 100%);
  width: 100%;
  height: 68px;
}

.toolbar h1 {
  color: white;
  font-weight: 500;
  font-size: 30px;
}

.toolbar ul {
  text-decoration: none;
  list-style-type: none;
}

.toolbar li {
  position: relative;
  padding: 0.5rem 0 0.5rem 2rem;
  border-bottom: 2px solid $border-bottom;
  font-size: 15px;
  font-weight: 500;
}

.toolbar li:nth-child(5) {
  background-color: $color-secondary;
}

.toolbar li:nth-child(5):before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  height: 100%;
  width: 5px;
  background: linear-gradient(180deg, $color-tertiary 0%, $color-primary 100%);
}

// HEADER

.content {
  display: flex;
  padding-left: 220px;
  flex-direction: column;
}

.content-header {
  display: flex;
  padding: 5px 45px;
  background-color: $color-secondary;
  justify-content: space-between;
  align-items: center;
}

.content-header h2 {
  font-size: 22px;
}

.content-header p {
  font-size: 14px;
}

.header-placeholders {
  display: flex;
  gap: 2rem;
}

// RESUMO

.content-article {
  padding: 1rem 45px;
}

.article_top-container {
  display: flex;
  justify-content: space-between;
}

.article_video-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article_video-container h2 {
  color: $color-primary;
  font-size: 20px;
  width: 700px;
}

.article_right-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 1rem;
}

.article_right-btn-container {
  display: flex;
  height: auto;
  gap: 5px;
}

.article_right-btn-container button {
  background-color: $color-primary;
  padding: 5px 20px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
}

.article_right-btn-container p {
  color: $color-primary;
  font-size: 14px;
  font-weight: 600;
}

.btn-star {
  background: url("../assets/star.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 43px;
  height: 31px;
}

.btn-doi {
  background: url("../assets/doi.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 43px;
  height: 31px;
}

.btn-download {
  background: url("../assets/download.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  height: 31px;
}

.article_right-container p {
  color: $color-primary;
  font-size: 14px;
  font-weight: 500;
}

.article_summary {
  border: 1px solid $border-bottom;
}

.summary-title {
  background-color: $color-secondary;
  padding: 10px;
}

.article_summary h3 {
  font-size: 20px;
  font-weight: 500;
  color: $title-primary;
}

.article_summary input {
  display: none;
}

.summary-container {
  padding: 10px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.summary-content {
  display: none;
}

.summary-content p {
  margin-top: 22.75px;
}

.btn-show-more label {
  position: absolute;
  bottom: 12px;
  right: 10px;
  color: $color-primary;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
}

.btn-show-more label:nth-child(2) {
  display: none;
}

.article_summary
  input:checked
  ~ .summary-container
  .btn-show-more
  label:nth-child(1) {
  display: none;
}

.article_summary
  input:checked
  ~ .summary-container
  .btn-show-more
  label:nth-child(2) {
  display: block;
}

.article_summary input:checked ~ .summary-container .summary-content {
  display: block;
}

// CHAT

.chat-container {
  margin: 1rem 45px;
  border: 1px solid $border-bottom;
}

.chat-container input[name="create-topic"] {
  display: none;
}

.chat-title {
  background-color: $color-secondary;
}

.chat-title h3 {
  font-size: 20px;
  font-weight: 500;
  color: $title-primary;
  padding: 10px;
}

.topic-creation-card {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.bottom-line {
  position: absolute;
  bottom: 0;
  width: calc(100% - 32px);
  border-bottom: 1px solid $border-bottom;
  left: 50%;
  transform: translate(-50%);
}

.topic-creation-card h5 {
  color: $color-primary;
  font-size: 18px;
  font-weight: 700;
}

.topic-creation-card img {
  width: 260px;
  height: 50px;
}

.topic-creation-card p {
  width: 60%;
  margin-bottom: 1rem;
}

.btn-create-topic {
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translate(-50%);
  color: white;
  background: linear-gradient(180deg, $color-tertiary 0%, $color-primary 100%);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Quicksand";
}

.btn-create-topic::before {
  content: url("../assets/icon\ -\ plus.png");
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}

.chat-container
  input[name="create-topic"]:checked
  ~ .topic-creation-card
  .btn-create-topic {
  display: none;
}

.topic-creation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.chat-container
  input[name="create-topic"]:checked
  ~ .topic-creation-card
  .topic-creation-container {
  display: none;
}

.topic-form {
  display: none;
}

.topic-form input {
  display: block;
  width: 100%;
  border: 1px solid $border-bottom;
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.topic-form textarea {
  display: block;
  width: 100%;
  border: 1px solid $border-bottom;
  border-bottom: none;
  padding: 1rem;
  box-sizing: border-box;
}

.topic-form p {
  align-self: center;
  text-align: center;
}

.topic-form h5 {
  font-size: 16px;
}

.topic-form-container_btn {
  display: flex;
  justify-content: end;
  background-color: $background-blue;
  border: 1px solid $border-bottom;
  border-radius: 0 0 5px 5px;
}

.topic-form-container_btn button {
  color: white;
  border: none;
  background: linear-gradient(180deg, $color-tertiary 0%, $color-primary 100%);
  padding: 5px 10px;
  width: 200px;
  border-bottom-right-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Quicksand";
}

.chat-container
  input[name="create-topic"]:checked
  ~ .topic-creation-card
  .topic-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}
