@import "../styles/colors.scss";

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 0px 10px -6px rgba(0, 0, 0, 0.2);
}

.toolbar-text_div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, $color-tertiary 0%, $color-primary 100%);
  width: 100%;
  height: 68px;
}

.toolbar h1 {
  color: white;
  font-weight: 500;
  font-size: 30px;
}

.toolbar ul {
  text-decoration: none;
  list-style-type: none;
}

.toolbar li {
  position: relative;
  padding: 0.5rem 0 0.5rem 2rem;
  border-bottom: 2px solid $border-bottom;
  font-size: 15px;
  font-weight: 500;
}

.toolbar li:nth-child(5) {
  background-color: $color-secondary;
}

.toolbar li:nth-child(5):before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  height: 100%;
  width: 5px;
  background: linear-gradient(180deg, $color-tertiary 0%, $color-primary 100%);
}

.content {
  display: flex;
  padding-left: 220px;
  flex-direction: column;
}

.content-header {
  display: flex;
  padding: 5px 45px;
  background-color: $color-secondary;
  justify-content: space-between;
  align-items: center;
}

.content-header h2 {
  font-size: 22px;
}

.content-header p {
  font-size: 14px;
}

.header-placeholders {
  display: flex;
  gap: 2rem;
}

.content-article {
  padding: 1rem 45px;
}

.article_top-container {
  display: flex;
  justify-content: space-between;
}

.article_video-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article_video-container h2 {
  color: $color-primary;
  font-size: 20px;
  width: 700px;
}

.article_right-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 1rem;
}

.article_right-btn-container {
  display: flex;
  height: auto;
  gap: 5px;
}

.article_right-btn-container button {
  background-color: $color-primary;
  padding: 5px 20px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
}

.article_right-btn-container p {
  color: $color-primary;
  font-size: 14px;
  font-weight: 600;
}

.btn-star {
  background: url("../assets/star.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 43px;
  height: 31px;
}

.btn-doi {
  background: url("../assets/doi.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 43px;
  height: 31px;
}

.btn-download {
  background: url("../assets/download.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  height: 31px;
}

.article_right-container p {
  color: $color-primary;
  font-size: 14px;
  font-weight: 500;
}
