<app-navbar></app-navbar>

<div class="content" role="main">
  <section class="content-header">
    <div>
      <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
      <h2>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h2>
      <p>ISSN: 1234-5678</p>
    </div>

    <div class="header-placeholders">
      <img src="../assets/btn-idiomas.png" /> <img src="../assets/login.png" />
    </div>
  </section>

  <app-summary></app-summary>
  <app-chat></app-chat>

  <!-- Resources
    <div class="comments-container">
      Os comentários de um tópico devem estar encapsulados num elemento com a
      classe .comments-container
    </div>

    <h3>
      Após submeter o formulário, a seguinte mensagem deve ser exibida:
      Aguardando feedback dos autores
    </h3>
  </div> -->
</div>
